<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/indexAdmin.css">
    <title>Pagina inicial></title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <!-- Panel de Estudiantes -->
                <div class="column is-one-quarter">
                    <a href="pagina_estudiantes.html">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="/assets/estudiante-libros-papeleria.jpg" alt="Estudiantes">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="title is-4">Estudiantes</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Panel de Agregar Libros -->
                <div class="column is-one-quarter">
                    <a href="./addBook.html">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="/assets/composicion-vista-frontal-diferentes-libros.jpg" alt="Libros">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="title is-4">Agregar Libros</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns is-centered">
                <!-- Panel de Administrar multas -->
                <div class="column is-one-quarter">
                    <a href="pagina_administrar_estudiantes.html">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="ruta_de_la_imagen_administrar_estudiantes.jpg" alt="Administrar Estudiantes">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="title is-4">Administrar Multas</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Panel de Gestionar Administradores -->
                <div class="column is-one-quarter">
                    <a href="/assets/">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="/assets/colegas-leyendo-usando-computadora-portatil-sesion-estudio.jpg" alt="Gestionar Administradores">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="title is-4">Gestionar Administradores</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>